In [ ]:
pip install selenium

In [ ]:
#1.Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
#You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [ ]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [ ]:
#location=driver.find_element(By.CLASS_NAME,"suggestor-input ")
#location.send_keys('Bangalore')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
job_title=[]
job_loc=[]
comp_name=[]
job_exp=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [ ]:
job_title

In [ ]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_loc.append(location)

In [ ]:
job_loc

In [ ]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    comp=i.text
    comp_name.append(comp)

In [ ]:
comp_name

In [ ]:
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    expe=i.text
    job_exp.append(expe)

In [ ]:
job_exp

In [ ]:
print(len(job_title),len(job_loc),len(comp_name),len(job_exp))

In [ ]:
#job_title.clear()
#job_loc.clear()
#comp_name.clear()
#job_exp.clear()

In [ ]:
import pandas as pd
df=pd.DataFrame({'Job_Name':job_title,'Job_Location':job_loc,'Company':comp_name,'Experience':job_exp})
df

In [ ]:
#Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
#have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
#This task will be done in following steps:

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [ ]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
job_title=[]
job_loc=[]
comp_name=[]
job_exp=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [ ]:
job_title

In [ ]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_loc.append(location)

In [ ]:
job_loc

In [ ]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    comp=i.text
    comp_name.append(comp)

In [ ]:
comp_name

In [ ]:
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    expe=i.text
    job_exp.append(expe)

In [ ]:
job_exp

In [ ]:
print(len(job_title),len(job_loc),len(comp_name),len(job_exp))

In [ ]:
import pandas as pd
df=pd.DataFrame({'Job_Name':job_title,'Job_Location':job_loc,'Company':comp_name,'Experience':job_exp})
df

In [ ]:
#3.In this question you have to scrape data using the filters available on the webpage as shown below:

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get("https://www.naukri.com/")

In [ ]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [ ]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [ ]:
location_delhi=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
#locfil_tags.send_keys('Delhi / NCR')
#driver.find_element(By.XPATH, "//input[@ng-model='datepicker.startDate']").send_keys("01/01/2010")
#driver.findElement(By.xpath("//label[text()='Reading']")).click();
location_delhi.click()

In [ ]:
sal_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")# absulute xpath
#locfil_tags.send_keys('Delhi / NCR')
#driver.find_element(By.XPATH, "//input[@ng-model='datepicker.startDate']").send_keys("01/01/2010")
#driver.findElement(By.xpath("//label[text()='Reading']")).click();
sal_filter.click()

In [ ]:
job_title=[]
job_loc=[]
comp_name=[]
job_exp=[]

In [ ]:
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)

In [ ]:
job_title

In [ ]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_loc.append(location)

In [ ]:
job_loc

In [ ]:
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    comp=i.text
    comp_name.append(comp)

In [ ]:
comp_name

In [ ]:
exp_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in exp_tags[0:10]:
    expe=i.text
    job_exp.append(expe)

In [ ]:
job_exp

In [ ]:
print(len(job_title),len(job_loc),len(comp_name),len(job_exp))

In [ ]:
import pandas as pd
df=pd.DataFrame({'Job_Name':job_title,'Job_Location':job_loc,'Company':comp_name,'Experience':job_exp})
df

In [ ]:
#Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [ ]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [ ]:
driver.get("https://www.flipkart.com/")

In [ ]:
item_name=driver.find_element(By.CLASS_NAME,"_3704LK")
item_name.send_keys('sunglasses')

In [ ]:
search_tag=driver.find_element(By.CLASS_NAME,"_34RNph")
search_tag.click()

In [102]:
brand=[]

In [103]:
start=0
end=3
for page in range(start,end):
    items=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in items:
        brand.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_tag.click()
    time.sleep(3)

In [104]:
#brand.clear()

In [105]:
len(brand)

120

In [106]:
brand[0:101]# first 100 elements from list

['NuVew',
 'NuVew',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'EYELLUSION',
 'VINCENT CHASE',
 'Lee Topper',
 'VINCENT CHASE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'VINCENT CHASE',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'kingsunglasses',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'LIZA ANGEL',
 'kingsunglasses',
 'VINCENT CHASE',
 'MGKNYAH',
 'ROZZETTA CRAFT',
 'like future',
 'Singco India',
 'NuVew',
 'Lee Topper',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VIVEXO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Anemone',
 'Fastrack',
 'NuVew',
 'VINCENT CHASE',
 'NuVew',
 'Fastrack',
 'NuVew',
 'VINCENT CHASE',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'NuVew',
 'Singco India',
 'VINCENT CHASE',
 'PIRASO',
 'NuVew',
 'VINCENT CHASE',
 'PIRASO',
 'PIRASO',
 'Sewell',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'NuVew',
 'Singco India',
 'NuVew',
 'NuVew',
 'Fastrack',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'Fastrack',
 'EYELLUSION',
 'VINCENT CHASE',
 'Lee Topper',
 'VINCENT CHASE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'VINCENT CHASE',
 'Fastrack',
 'LONGWINGS',
 'SUNBEE']

In [114]:
product_desc=[]

In [115]:
start=0
end=3
for page in range(start,end):
    product=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product:
        product_desc.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_tag.click()
    time.sleep(3)

In [111]:
#product_desc.clear()

In [116]:
product_desc[0:101]

['UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Oval Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (56)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Aviator Sunglasses (57)',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Over-sized Sunglasses (60)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Polarized, UV Protection Retro Square Sunglasses (52)',
 'UV Protection, Night Vision Wayfarer Sunglasses (Free S...',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Gradient Rectangular Sunglasses (51)',
 'UV Protection, Night Vision, Riding Glasses Wayfarer Su...',
 'UV Protection Rectangular Sunglasses (55)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Round Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'Polarized, UV Protection Round Sunglasses (51)',
 'UV Protection Wayfarer Sunglasses (62)',
 'UV Protection Clubmaster Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Clubmaster Sunglasses (54)',
 'UV Protection Aviator Sunglasses (55)',
 'UV Protection, Gradient Rectangular, Spectacle Sunglas...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Sports Sunglasses (65)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (57)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (52)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'UV Protection Wayfarer Sunglasses (62)',
 'Polarized Wrap-around Sunglasses (45)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (58)',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Oval Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (56)',
 'Polarized, UV Protection Round Sunglasses (51)',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Aviator Sunglasses (57)',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'Polarized, UV Protection Round Sunglasses (50)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'by Lenskart Polarized, UV Protection Round Sunglasses (...',
 'UV Protection Over-sized Sunglasses (65)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Mirrored Round Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular, Wayfarer, Retro Square Sungl...',
 'UV Protection Rectangular Sunglasses (Free Size)']

In [117]:
len(product_desc)

119

In [ ]:
product_desc[0:101]

In [119]:
product_price=[]

In [120]:
start=0
end=3
for page in range(start,end):
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        product_price.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_tag.click()
    time.sleep(3)

In [121]:
product_price[0:101]

['₹423',
 '₹269',
 '₹439',
 '₹489',
 '₹149',
 '₹274',
 '₹268',
 '₹391',
 '₹799',
 '₹749',
 '₹208',
 '₹999',
 '₹599',
 '₹599',
 '₹224',
 '₹649',
 '₹356',
 '₹639',
 '₹129',
 '₹949',
 '₹99',
 '₹539',
 '₹99',
 '₹879',
 '₹539',
 '₹185',
 '₹129',
 '₹349',
 '₹690',
 '₹212',
 '₹125',
 '₹929',
 '₹290',
 '₹182',
 '₹281',
 '₹423',
 '₹397',
 '₹749',
 '₹99',
 '₹899',
 '₹99',
 '₹99',
 '₹619',
 '₹449',
 '₹222',
 '₹211',
 '₹639',
 '₹391',
 '₹799',
 '₹559',
 '₹299',
 '₹630',
 '₹255',
 '₹674',
 '₹342',
 '₹829',
 '₹260',
 '₹799',
 '₹639',
 '₹999',
 '₹185',
 '₹308',
 '₹173',
 '₹377',
 '₹799',
 '₹281',
 '₹929',
 '₹449',
 '₹299',
 '₹213',
 '₹186',
 '₹649',
 '₹179',
 '₹423',
 '₹279',
 '₹949',
 '₹129',
 '₹341',
 '₹999',
 '₹879',
 '₹423',
 '₹399',
 '₹439',
 '₹149',
 '₹489',
 '₹274',
 '₹268',
 '₹559',
 '₹799',
 '₹749',
 '₹208',
 '₹213',
 '₹599',
 '₹599',
 '₹224',
 '₹799',
 '₹356',
 '₹99',
 '₹129',
 '₹599',
 '₹99']

In [91]:
len(product_price)

255

In [93]:
product_price.clear()

In [94]:
product_price[0:101]

[]

In [100]:
#brand.clear()
#product_desc.clear()
#product_price.clear()

In [124]:
print(len(brand),len(product_desc),len(product_price))

120 119 120

In [123]:
import pandas as pd
df=pd.DataFrame({'Brand_Name':brand[0:101],'Product_ Description':product_desc[0:101],'Price':product_price[0:101]})
df

         Brand_Name                               Product_ Description Price
0             NuVew   UV Protection, Mirrored Wayfarer Sunglasses (58)  ₹423
1             NuVew   UV Protection, Mirrored Wayfarer Sunglasses (58)  ₹269
2          Fastrack        UV Protection Sports Sunglasses (Free Size)  ₹439
3    ROZZETTA CRAFT  UV Protection, Gradient Round Sunglasses (Free...  ₹489
4            PIRASO                 UV Protection Oval Sunglasses (54)  ₹149
..              ...                                                ...   ...
96   kingsunglasses  UV Protection, Mirrored Round Sunglasses (Free...  ₹356
97    VINCENT CHASE  by Lenskart Polarized, UV Protection Retro Squ...   ₹99
98         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹129
99        LONGWINGS  UV Protection Rectangular, Wayfarer, Retro Squ...  ₹599
100          SUNBEE   UV Protection Rectangular Sunglasses (Free Size)   ₹99

[101 rows x 3 columns]

In [ ]:
#5. Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [1]:
driver=webdriver.Chrome(r"chromedriver.exe")

NameError: name 'webdriver' is not defined

In [126]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [131]:
product_rated=[]

In [132]:
start=0
end=11
for page in range(start,end):
    rated=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rated:
        product_rated.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_tag.click()
    time.sleep(3)

In [133]:
len(product_rated)#[0:99]

110

In [134]:
product_rated[0:99]

['5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '4']

In [135]:
review_sum=[]

In [136]:
start=0
end=11
for page in range(start,end):
    review=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review:
        review_sum.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_tag.click()
    time.sleep(3)

In [137]:
len(review_sum)

110

In [141]:
review_sum

['Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Highly recommended',
 'Simply awesome',
 'Perfect product!',
 'Best in the market!',
 'Value-for-money',
 'Highly recommended',
 'Worth every penny',
 'Perfect product!',
 'Highly recommended',
 'Pretty good',
 'Great product',
 'Fabulous!',
 'Classy product',
 'Worth every penny',
 'Perfect product!',
 'Good choice',
 'Value-for-money',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Highly recommended']

In [144]:
review_details=[]

In [150]:
start=0
end=12
for page in range(start,end):
    review_det=driver.find_elements(By.XPATH,'//span[@class="_1H-bmy"]')
    for i in review_det:
        review_details.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_tag.click()
    time.sleep(3)

In [149]:
len(review_details)

96

In [ ]:
review_details

In [ ]:
#6. Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.flipkart.com/")

In [5]:
item_name=driver.find_element(By.CLASS_NAME,"_3704LK")
item_name.send_keys('sneakers')

In [6]:
search_tag=driver.find_element(By.CLASS_NAME,"_34RNph")
search_tag.click()

In [7]:
pr_brand=[]

In [9]:
start=0
end=3
for page in range(start,end):
    brand=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand:
        pr_brand.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_tag.click()
    time.sleep(3)

In [10]:
len(pr_brand)

120

In [11]:
pr_desc=[]

In [12]:
start=0
end=3
for page in range(start,end):
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        pr_desc.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_tag.click()
    time.sleep(3)

In [13]:
len(pr_desc)

118

In [14]:
price=[]

In [15]:
start=0
end=3
for page in range(start,end):
    pric=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in pric:
        price.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    NEXT_tag.click()
    time.sleep(3)

In [16]:
len(price)

120

In [17]:
price

['₹399',
 '₹606',
 '₹289',
 '₹499',
 '₹499',
 '₹239',
 '₹629',
 '₹399',
 '₹374',
 '₹499',
 '₹249',
 '₹399',
 '₹299',
 '₹1,519',
 '₹389',
 '₹505',
 '₹549',
 '₹499',
 '₹399',
 '₹299',
 '₹199',
 '₹299',
 '₹449',
 '₹606',
 '₹499',
 '₹389',
 '₹373',
 '₹606',
 '₹499',
 '₹299',
 '₹499',
 '₹833',
 '₹449',
 '₹219',
 '₹399',
 '₹634',
 '₹299',
 '₹399',
 '₹499',
 '₹399',
 '₹389',
 '₹499',
 '₹1,652',
 '₹258',
 '₹499',
 '₹388',
 '₹699',
 '₹399',
 '₹2,015',
 '₹299',
 '₹649',
 '₹399',
 '₹389',
 '₹373',
 '₹649',
 '₹619',
 '₹389',
 '₹769',
 '₹874',
 '₹258',
 '₹873',
 '₹549',
 '₹439',
 '₹399',
 '₹374',
 '₹499',
 '₹499',
 '₹505',
 '₹399',
 '₹229',
 '₹499',
 '₹299',
 '₹439',
 '₹399',
 '₹299',
 '₹606',
 '₹1,709',
 '₹4,999',
 '₹399',
 '₹833',
 '₹399',
 '₹606',
 '₹289',
 '₹499',
 '₹499',
 '₹239',
 '₹629',
 '₹606',
 '₹374',
 '₹499',
 '₹249',
 '₹799',
 '₹1,519',
 '₹389',
 '₹399',
 '₹589',
 '₹299',
 '₹549',
 '₹499',
 '₹1,281',
 '₹199',
 '₹299',
 '₹449',
 '₹599',
 '₹499',
 '₹389',
 '₹373',
 '₹1,465',
 '₹499',
 '₹299',
 '₹499',
 '₹1,399',
 '₹449',
 '₹399',
 '₹499',
 '₹599',
 '₹219',
 '₹399',
 '₹499',
 '₹2,171']

In [19]:
import pandas as pd
df=pd.DataFrame({'Brand_Name':pr_brand[0:39],'Product_ Description':pr_desc[0:39],'Price':price[0:39]})
df

      Brand_Name                               Product_ Description   Price
0           aadi  Combo Pack of 2 Premium Sports Shoes Sneakers ...    ₹399
1           aadi               Puma x 1DER Jack V3 Sneakers For Men    ₹606
2            SFR                                 Sneakers For Women    ₹289
3          BIRDE                                   Sneakers For Men    ₹499
4          BIRDE  Trendy Casual Shoe For Men Pack Of 2 Sneakers ...    ₹499
5            SFR                                 Sneakers For Women    ₹239
6          Sparx                                 Sneakers For Women    ₹629
7       RapidBox  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹399
8         Shozie                            SM-406 Sneakers For Men    ₹374
9          BIRDE                     STREET ICON M Sneakers For Men    ₹499
10        BRUTON  Premium Casual Shoes for Women Sneakers For Women    ₹249
11       D-Manan           WATERPROOF-05cFULLBLACK Sneakers For Men    ₹399
12          PUMA                                 Sneakers For Women    ₹299
13        Shozie  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...  ₹1,519
14        Kraasa  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹389
15          aadi           WATERPROOF-05cFULLWHITE Sneakers For Men    ₹505
16          aadi      Stylish Casual Sports Shoe Sneakers For Women    ₹549
17         BIRDE                  Men SM-406 Black Sneakers For Men    ₹499
18         BIRDE  Casual Sneakers White Outdoor Shoes For Boys A...    ₹399
19  K- FOOTLANCE                   Men SM-406 Grey Sneakers For Men    ₹299
20      BERSACHE  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹199
21         BIRDE  Trendy Color Changing Casual,Sneaker Shoes wit...    ₹299
22         BIRDE                                   Sneakers For Men    ₹449
23        lejano  Combo pack of 2 casual sneaker shoes for men S...    ₹606
24        BRUTON  Stylish Casual Sports Shoe outdoor Sneakers Fo...    ₹499
25        Layasa                                 Sneakers For Women    ₹389
26        Shozie  Mesh| Ultralightweight| Premiun| Comfort| Summ...    ₹373
27          aadi      Combo Pack of 2 Casual Shoes Sneakers For Men    ₹606
28         BIRDE      Combo Pack of 2 Casual Shoes Sneakers For Men    ₹499
29         asian  Oricum Casual Shoes Walking ,Sneakers Canvas c...    ₹299
30         asian           Stylish Casual Sneakers Sneakers For Men    ₹499
31       Dashkin                                 Sneakers For Women    ₹833
32        Kraasa  Mesh |Lightweight|Comfort|Summer|Trendy|Walkin...    ₹449
33   Asian Shoes                                   Sneakers For Men    ₹219
34           SFR                         Colored Sneakers For Women    ₹399
35        Kraasa                                 Sneakers For Women    ₹634
36         BIRDE                                 Sneakers For Women    ₹299
37         BIRDE                          Brisk FR Sneakers For Men    ₹399
38          aadi  Men's Casual sneaker shoes running shoes walki...    ₹499

In [20]:
#Q7: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. 
#Then set CPU Type filter to “Intel Core i7” as shown in the below image:

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [21]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [22]:
driver.get("https://www.amazon.in/")

In [24]:
item_name=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
item_name.send_keys('Laptop')

In [27]:
search_tag=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_tag.click()

In [28]:
cpu_filter=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[2]/li[12]/span/a/div/label/i")
#locfil_tags.send_keys('Delhi / NCR')
#driver.find_element(By.XPATH, "//input[@ng-model='datepicker.startDate']").send_keys("01/01/2010")
#driver.findElement(By.xpath("//label[text()='Reading']")).click();
cpu_filter.click()

In [30]:
title=[]

In [33]:
title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    tit=i.text
    title.append(tit)

In [34]:
title

['ASUS Vivobook 14, Intel Core i7-1165G7 11th Gen, 14" (35.56 cm) FHD, Thin and Laptop (16GB/512GB SSD/Intel Iris Xe Graphics/Windows 11/Office 2021/FP Sensor/Silver/1.55 kg), X415EA-EK701WS',
 'ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Plus Graphics/Windows 11/Office 2021/Silver/1.8 kg), X515JA-EJ701WS',
 '(Renewed) HP ProBook 430 G3 6th Gen Intel Core i7 Thin & Light HD Laptop (8 GB DDR4 RAM/256 GB SSD/13.3" (33.8 cm)/Windows 11/MS Office/Wifi/Bluetooth 4.0/Webcam/Integrated Graphics)',
 '(Renewed) Dell Latitude E7470 Intel Core i7 6th Gen 14 inches Laptop /16 GB RAM/512 GB SSD/Windows 10 Pro/MS Office/HD Display/Integrated Graphics, 1.9 kg',
 'Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Laptop (16GB/512GB SSD/Win 11/Office 2021/Backlit KB/Fingerprint/FHD Camera/Alexa/3 Month Game Pass/Storm Grey/1.85Kg), 82SF004XIN',
 'HP Victus Gaming Latest 12th Gen Intel Core i7 15.6 inch(39.6 cm) FHD Gaming Laptop (8GB RAM/512GB SSD/RTX 3050 4GB Graphics/144Hz/9ms Response Time/Win 11/MSO/BL KB/B&O/Alexa/Xbox Pass),15-fa0073TX',
 'Dell Inspiron 5320 Laptop, Intel i7-1260P, 16GB LPDDR5, 512GB SSD, Integrated, 13.3" (33.78Cms) QHD+ WVA AG 300 nits, Win 11+ MSO\'21, Platinum Silver (D560754WIN9S, 1.25Kgs)',
 'ASUS VivoBook 15 X1500EA-EJ702WS Intel® Core™ i7-1165G7 /8GB DDR4 + 8GB DDR4 / 512GB PCIe® 3.0 SSD / 15.6-inch / FHD (1920 x 1080) 16:9 / / Transparent Silver /Fingerprint / Win 11 Home / MS Office /',
 'HP Pavilion Plus, 12th Gen Intel Core i7 16GB RAM/1TB SSD 14 inch(35.6 cm)Creator Laptop with OLED,UWVA,Eye Safe Laptop/Intel Iris Xe Graphics/Backlit KB/B&O/FPR/Win 11/Alexa Built-in/MSO,14-eh0024TU',
 'Acer Nitro 5 Gaming Laptop Intel core i7 11th Gen (16 GB/ 512 GB SSD/ NVIDIA® GeForce RTX 3050 Ti/ Windows 11 Home/144hz) AN515-57 with 39.6 cm (15.6 inches) IPS Display / 2.2 Kgs']

In [36]:
rating=[]

In [37]:
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tags[0:10]:
    rat=i.text
    rating.append(rat)

In [38]:
rating

['4.1', '4.1', '3.4', '4.0', '4.2', '4.3', '3.6', '4.0', '4.0', '4.0']

In [39]:
price=[]

In [40]:
price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tag[0:10]:
    price.append(i.text)

In [41]:
price

['56,990',
 '65,250',
 '24,889',
 '30,074',
 '82,990',
 '85,990',
 '84,918',
 '57,990',
 '94,490',
 '82,990']

In [43]:
import pandas as pd
df=pd.DataFrame({'Title':title[0:10],'Rating':rating[0:10],'Price':price[0:10]})
df

                                               Title Rating   Price
0  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...    4.1  56,990
1  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...    4.1  65,250
2  (Renewed) HP ProBook 430 G3 6th Gen Intel Core...    3.4  24,889
3  (Renewed) Dell Latitude E7470 Intel Core i7 6t...    4.0  30,074
4  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    4.2  82,990
5  HP Victus Gaming Latest 12th Gen Intel Core i7...    4.3  85,990
6  Dell Inspiron 5320 Laptop, Intel i7-1260P, 16G...    3.6  84,918
7  ASUS VivoBook 15 X1500EA-EJ702WS Intel® Core™ ...    4.0  57,990
8  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    4.0  94,490
9  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    4.0  82,990

In [1]:
# Q.8) Write a python program to scrape data for Top 1000 Quotes of All Time. The above task will be done in following steps:

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.azquotes.com/")

In [4]:
top_quote=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
top_quote.click()

In [5]:
quote=[]

In [6]:
start=0
end=2
for page in range(start,end):
    quot=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quot:
        quote.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    NEXT_tag.click()
    time.sleep(3)

In [7]:
len(quote)

200

In [8]:
author=[]

In [9]:
start=0
end=2
for page in range(start,end):
    auth=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in auth:
        author.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    NEXT_tag.click()
    time.sleep(3)

In [10]:
len(author)

200

In [12]:
type_of_quote=[]

In [21]:
start=0
end=2
for page in range(start,end):
    type_of=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in type_of:
        type_of_quote.append(i.text)
    NEXT_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    NEXT_tag.click()
    time.sleep(3)

In [22]:
len(type_of_quote)

400

In [24]:
NEXT_tag=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
NEXT_tag.click()

In [25]:
import pandas as pd
df=pd.DataFrame({'Quote':quote[0:100],'Author':author[0:100],'Type of qupte':type_of_quote[0:100]})
df

,Quote,Author,Type of qupte
0,The essence of strategy is choosing what not t...,Amelia Earhart,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Ludwig von Mises,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Elizabeth Cady Stanton,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Benjamin Spock,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Charles Kettering,"4th Of July, Food, Patriotic"
...,...,...,...
95,"When the going gets weird, the weird turn pro.",Sydney J. Harris,"Music, Sports, Hunting"
96,When a train goes through a tunnel and it gets...,Hunter S. Thompson,"Trust, Encouraging, Uplifting"
97,If you think you are too small to make a diffe...,Jim Rohn,"Inspirational, Funny, Change"
98,"God doesn't require us to succeed, he only req...",Ram Dass,"Success, God, Mother"
99,Change your thoughts and you change your world.,Plutarch,"Inspirational, Motivational, Change"

In [ ]:
#Qno 9)Write a python program to display list of respected former Prime Ministers of India(i.e. Name, Born-Dead,
#Term of office, Remarks) from https://www.jagranjosh.com/.

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [4]:
driver.get("https://www.jagranjosh.com/")

In [5]:
gk=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
gk.click()

In [7]:
list_of_pri=driver.find_element(By.XPATH,"/html/body/div[1]/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
list_of_pri.click()

In [15]:
pm_list=[]

In [16]:

pm=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in pm:
    pm_list.append(i.text)

In [17]:
pm_list

['Jawahar Lal Nehru',
 'Gulzarilal Nanda (Acting)',
 'Lal Bahadur Shastri',
 'Gulzari Lal Nanda  (Acting)',
 'Indira Gandhi',
 'Morarji Desai',
 'Charan Singh',
 'Indira Gandhi',
 'Rajiv Gandhi',
 'V. P. Singh',
 'Chandra Shekhar',
 'P. V. Narasimha Rao',
 'Atal Bihari Vajpayee',
 'H. D. Deve Gowda',
 'Inder Kumar Gujral',
 'Atal Bihari Vajpayee',
 'Manmohan Singh',
 'Narendra Modi']

In [11]:
duration=[]

In [12]:
dure=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]/p')
for i in dure:
    duration.append(i.text)

In [20]:
duration[::2] #to get specific index items list

['15 August 1947 to 27 May 1964',
 '27 May 1964 to 9 June 1964,',
 '9 June 1964 to 11 January 1966',
 '11 January 1966 to 24 January 1966',
 '24 January 1966 to 24 March 1977',
 '24 March 1977 to  28 July 1979 ',
 '28 July 1979 to 14 January 1980',
 '14 January 1980 to 31 October 1984',
 '31 October 1984 to 2 December 1989',
 '2 December 1989 to 10 November 1990',
 '10 November 1990 to 21 June 1991',
 '21 June 1991 to 16 May 1996',
 '16 May 1996 to 1 June 1996',
 '1 June 1996 to 21 April 1997',
 '21 April 1997 to 19 March 1998 ',
 '19 March 1998 to 22 May 2004 ',
 '22 May 2004 to 26 May 2014   ',
 '26 May 2014 - Present']

In [21]:
len(duration[::2])

18

In [22]:
born_dead=[]

In [23]:
born=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born:
    born_dead.append(i.text)

In [24]:
born_dead

['(1889–1964)',
 '(1898-1998)',
 '(1904–1966)',
 '(1898-1998)',
 '(1917–1984)',
 '(1896–1995)',
 '(1902–1987)',
 '(1917–1984)',
 '(1944–1991)',
 '(1931–2008)',
 '(1927–2007)',
 '(1921–2004)',
 '(1924- 2018)',
 '(born 1933)',
 '(1919–2012)',
 '(1924-2018)',
 '(born 1932)',
 '(born 1950)']

In [25]:
len(born_dead)

18

In [26]:
remark=[]

In [27]:
rem=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in rem:
    remark.append(i.text)

In [28]:
remark

['The first prime minister of India and the longest-serving PM of India, the first to die in office.',
 'First acting PM of India',
 "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965",
 '-',
 'First female Prime Minister of India',
 'Oldest to become PM (81 years old) and first to resign from office',
 'Only PM who did not face the Parliament',
 'The first lady who served as PM for the second term',
 'Youngest to become PM (40 years old)',
 'First PM to step down after a vote of no confidence',
 'He belongs to  Samajwadi Janata Party',
 'First PM from south India',
 'PM for shortest tenure',
 'He belongs to  Janata Dal',
 '------',
 ' The first non-congress PM who completed a full term as PM',
 ' First Sikh PM',
 '4th Prime Minister of India who served two consecutive tenures']

In [29]:
len(remark)

18

In [31]:
import pandas as pd
df=pd.DataFrame({'Name_of_PM': pm_list,'Born_dead':born_dead,'Term of Office':duration[::2],'Remarks':remark})
df

,Name_of_PM,Born_dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),15 August 1947 to 27 May 1964,The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),9 June 1964 to 11 January 1966,He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966,-
4,Indira Gandhi,(1917–1984),24 January 1966 to 24 March 1977,First female Prime Minister of India
5,Morarji Desai,(1896–1995),24 March 1977 to 28 July 1979,Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),14 January 1980 to 31 October 1984,The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),31 October 1984 to 2 December 1989,Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),21 June 1991 to 16 May 1996,First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998,------
15,Atal Bihari Vajpayee,(1924-2018),19 March 1998 to 22 May 2004,The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),22 May 2004 to 26 May 2014,First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

In [32]:
# Q.No-10 .Write a python program to display list of 50 Most expensive cars in the world (i.e.
#Car name and Price) from https://www.motor1.com/

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")

In [3]:
driver.get("https://www.motor1.com/")

In [5]:
search_tag=driver.find_element(By.XPATH,"/html/body/div[3]/div[2]/div/div/div[1]/div")
search_tag.click()

In [6]:
feature_tag=driver.find_element(By.XPATH,"/html/body/div[4]/div[1]/div[3]/ul/li[5]/a")
feature_tag.click()

In [7]:
car_tag=driver.find_element(By.XPATH,"/html/body/div[3]/div[7]/div/div[1]/div[1]/div[2]/div/div[1]/h3/a")
car_tag.click()

In [8]:
top_car_list=[]

In [9]:
top_car=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in top_car:
    top_car_list.append(i.text)

In [11]:
top_car_list[0:50]

['De Tomaso P72',
 'Ferrari LaFerrari',
 'Pagani Huayra',
 'McLaren Elva',
 'Czinger 21C',
 'Ferrari Monza',
 'Gordon Murray T.33',
 'Koenigsegg Gemera',
 'Zenvo TSR-S',
 'Hennessey Venom F5',
 'Bentley Bacalar',
 'Hispano Suiza Carmen Boulogne',
 'Bentley Mulliner Batur',
 'Deus Vayanne',
 'SSC Tuatara',
 'Lotus Evija',
 'Aston Martin Vulcan',
 'Delage D12',
 'McLaren Speedtail',
 'Rimac Nevera',
 'Pagani Utopia',
 'Pininfarina Battista',
 'Ferrari FXX K Evo',
 'Gordon Murray T.50',
 'Lamborghini Countach',
 'Mercedes-AMG Project One',
 'Aston Martin Victor',
 'Hennessey Venom F5 Roadster',
 'Koenigsegg Jesko',
 'Aston Martin Valkyrie',
 'W Motors Lykan Hypersport',
 'McLaren Solus',
 'Pagani Huayra Roadster BC',
 'Bugatti Chiron Pur Sport',
 'Lamborghini Sian',
 'Koenigsegg CC850',
 'Bugatti Chiron Super Sport 300+',
 'Lamborghini Veneno',
 'Bugatti Bolide',
 'Bugatti Mistral',
 'Pagani Huayra Imola',
 'Bugatti Divo',
 'SP Automotive Chaos',
 'Pagani Codalunga',
 'Mercedes-Maybach Exelero',
 'Bugatti Centodieci',
 'Bugatti Chiron Profilée',
 'Rolls-Royce Sweptail',
 'Bugatti La Voiture Noire',
 'Rolls-Royce Boat Tail*']

In [12]:
car_price=[]

In [13]:
car_pr=driver.find_elements(By.XPATH,"//strong")
for i in car_pr:
    car_price.append(i.text)

In [15]:
len(car_price)

51

In [16]:
import pandas as pd
df=pd.DataFrame({'Name of Top_Exp_car':top_car_list[0:50],'Price':car_price[0:50]})
df

                Name of Top_Exp_car                 Price
0                     De Tomaso P72   Price: $1.3 Million
1                 Ferrari LaFerrari   Price: $1.4 Million
2                     Pagani Huayra   Price: $1.4 Million
3                      McLaren Elva
4                       Czinger 21C   Price: $1.7 Million
5                     Ferrari Monza   Price: $1.7 Million
6                Gordon Murray T.33   Price: $1.7 Million
7                 Koenigsegg Gemera   Price: $1.7 Million
8                       Zenvo TSR-S   Price: $1.7 Million
9                Hennessey Venom F5   Price: $1.7 Million
10                  Bentley Bacalar   Price: $1.8 Million
11    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
12           Bentley Mulliner Batur   Price: $1.9 Million
13                     Deus Vayanne   Price: $2.0 Million
14                      SSC Tuatara   Price: $2.0 Million
15                      Lotus Evija  Price: $2.0 Million*
16              Aston Martin Vulcan   Price: $2.1 Million
17                       Delage D12   Price: $2.3 Million
18                McLaren Speedtail   Price: $2.3 Million
19                     Rimac Nevera   Price: $2.3 Million
20                    Pagani Utopia   Price: $2.4 Million
21             Pininfarina Battista   Price: $2.5 Million
22                Ferrari FXX K Evo   Price: $2.5 Million
23               Gordon Murray T.50   Price: $2.6 Million
24             Lamborghini Countach   Price: $2.6 Million
25         Mercedes-AMG Project One   Price: $2.6 Million
26              Aston Martin Victor   Price: $2.7 Million
27      Hennessey Venom F5 Roadster   Price: $3.0 Million
28                 Koenigsegg Jesko          $3.0 Million
29            Aston Martin Valkyrie   Price: $3.0 Million
30        W Motors Lykan Hypersport   Price: $3.2 Million
31                    McLaren Solus   Price: $3.4 Million
32        Pagani Huayra Roadster BC          $3.5 Million
33         Bugatti Chiron Pur Sport   Price: $3.5 Million
34                 Lamborghini Sian   Price: $3.6 Million
35                 Koenigsegg CC850   Price: $3.6 million
36  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
37               Lamborghini Veneno   Price: $3.9 Million
38                   Bugatti Bolide   Price: $4.5 Million
39                  Bugatti Mistral   Price: $4.7 Million
40              Pagani Huayra Imola   Price: $5.0 Million
41                     Bugatti Divo   Price: $5.4 Million
42              SP Automotive Chaos   Price: $5.8 Million
43                 Pagani Codalunga   Price: $6.4 Million
44         Mercedes-Maybach Exelero   Price: $7.4 Million
45               Bugatti Centodieci   Price: $8.0 Million
46          Bugatti Chiron Profilée   Price: $9.0 Million
47             Rolls-Royce Sweptail  Price: $10.8 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million